#theme-toggle {
    display: none;
}

#readme-button {
    display: none;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#message-composer {
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
}
